<h1>
    Data for <%= @symbol %>
</h1>

<p>
    Open price: <%= @open_price %>
    Close price: <%= @close_price %>
    Returns = <%= @returns.round(2) * 100 %> %
    Monthly Returns Array = <%= @monthly_returns %>
    Avg Monthly Returns <%= @avg_monthly_return * 100 %> %
    Annual Returns <%= @avg_annual_return * 100 %> %
    Annual StDev <%= @annualized_stdev * 100 %> %
    Sharpe Ratio <%= @sharpe_ratio %>
</p>

<form action="/create_ticker" method="post">
  <!-- Label and input for caption -->
  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <textarea id="caption" name="caption" class="form-control" rows="3"><%= @photo.try(:caption) %></textarea>
  </div>
  
    <!--Input for Ticker Name-->
    <input type="hidden" id="<%= @symbol %>" name="image" class="form-control" value="<%= @photo.try(:image) %>">
    
    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Add Ticker
  </button>
</form>

<form action="/create_ticker_stat" method="post">
  <!-- Label and input for caption -->
  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <textarea id="caption" name="caption" class="form-control" rows="3"><%= @photo.try(:caption) %></textarea>
  </div>

  <!-- Label and input for image -->
  <div class="form-group">
    <label for="image">
      Image
    </label>

    Input for Ticker Name
    <input type="hidden" id="<%= @symbol %>" name="image" class="form-control" value="<%= @photo.try(:image) %>">

    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Save Ticker Stats
  </button>
</form>