<h1> Your Optimized Portfolio Allocation</h1>

<p><%= @tangent_vec %></p>

<p><%= @tangent_vec.[](0,0).round(2) * 100 %> %</p>
<p><%= @tangent_vec.[](1,0).round(2) * 100 %> %</p>
<p><%= @tangent_vec.[](2,0).round(2) * 100 %> %</p>

<p><%= @portfolio_expreturns %></p>
<p><%= @portfolio_stdev %></p>
<p><%= @portfolio_sharperatio %></p>
