<h1>
  All user tickerlists
</h1>

<a href="/user_tickerlists/new">
  Add a new user tickerlist
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      User
    </th>

    <th>
      Ticker
    </th>

    <th>
      Tag
    </th>

    <th>
      Watchlist
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @user_tickerlists.each do |user_tickerlist| %>
  <tr>
    <td>
      <%= user_tickerlist.id %>
    </td>

    <td>
      <%= user_tickerlist.user_id %>
    </td>

    <td>
      <%= user_tickerlist.ticker_id %>
    </td>

    <td>
      <%= user_tickerlist.tag_id %>
    </td>

    <td>
      <%= user_tickerlist.watchlist %>
    </td>

    <td>
      <%= time_ago_in_words(user_tickerlist.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(user_tickerlist.updated_at) %> ago
    </td>

    <td>
      <a href="/user_tickerlists/<%= user_tickerlist.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
